
<div  class="container-fluid text-center pt-3">
    <div>
        <div style="position: relative;display: inline-block" >
            <div class="row">
                <div class="col-3">
                    <img id="prev" src="{{nextFile.file.albumart}}" class="img-fluid img-thumbnail col-sm-3-cols-nmain left" >
                </div>
                
            <div class="col-6">
                <img id="main" src="{{currentFile.file.albumart}}" class=" leftandright img-fluid col-sm-3-cols-main" alt="Thumbnail Not Found" >
                <div class="slidecontainer">
                    <input type="range" min="0" [max]="state?.duration" step="{{state?.duration/100}}" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined" class="slider" id="myRange">
                </div>
            </div>
            <div class="col-3">
                <img  id="next" src="{{prevFile.file.albumart}}" class="img-fluid img-thumbnail col-sm-3-cols-nmain right">
            </div>
        </div>
            <div id="controls" style="position: relative;bottom:-5px" class="pb-3">
                <button id="prev_button" class="button" (click)="previous()">
                    <i id="prev_icon" style="font-size: 50px;margin-right:20px;color: green;text-shadow: 0 0 8px #fff;" class="fa fa-fast-backward fa-align-center fa-lg"></i>
                </button>
                <button class="button" (click)="pause_play()" >
                    <i *ngIf="!state?.playing" style="font-size: 90px;margin-right:20px;color: green; text-shadow: 0 0 8px #fff;" class="fa fa-play-circle fa-align-center fa-lg rounded-circle bg-light"></i>
                    <i *ngIf="state?.playing" style="font-size: 90px;margin-right:20px;color: green; text-shadow: 0 0 8px #fff;" class="fa fa-pause-circle fa-align-center fa-lg rounded-circle bg-light"></i>
                </button>
                <button class="button" (click)="next()">
                    <i style="font-size: 50px;color: green; text-shadow: 0 0 8px #fff;" class="fa fa-fast-forward fa-align-center fa-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
