<h3 class="text-center text-light">Top Charts</h3>
<marquee marquee direction="left" behavior="scroll" scrollamount="20">
  <div class="bg-1">
    <div class="container-fluid" id = "a1">          
      <div class="row text-center">
        <div class="col-sm-3">
          <div class="thumbnail" id = "s1" (click) = "show('International')">
            <h4><strong>International Songs</strong></h4>
            <a><img  class="image-fluid"  src="../../assets/holl.jpg" alt="International" class="image">
              <div class="middle">
                <div class="fa fa-play-circle-o" style="color: white; font-size: 50px;" ></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail" id = "s2" (click) = "show('Bollywood')" >
            <h4><strong>Bollywood Songs</strong></h4>
            <a><img  class="image-fluid"  src="../../assets/yjhd.jpg" alt="Bollywood" class="image">
              <div class="middle">
                <div class="fa fa-play-circle-o" style="color: white; font-size: 50px;"></div>
              </div>        
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail" id= "s3" (click) = "show('LatestRelease')" >
            <h4><strong>Latest Releases</strong></h4>
            <a><img  class="image-fluid" src="../../assets/news.jpg" alt="New" class="image">
              <div class="middle">
                <div class="fa fa-play-circle-o" style="color: white; font-size: 50px;"></div>
              </div>  
            </a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail" id= "s4" (click) = "show('YourSongs')">
            <h4><strong>Akshay's Playlist</strong></h4>
            <a><img  class="image-fluid" src="../../assets/profile.png" alt="New" class="image">
              <div class="middle">
                <div class="fa fa-play-circle-o" style="color: white; font-size: 50px;"></div>
              </div>  
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</marquee>

          